<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formulaire Todo Liste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tâche</ion-label>
      <ion-input type="text" [(ngModel)]="task.taskName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="task.dateString"></ion-datetime>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand='block' size='large' (click)="persistTasks()">Valider</ion-button>
</ion-footer>